{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("TOWN") }} {% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/mustache.js"></script>
    <script type="text/javascript">
        var carregarCidadesConstrutor=function (){
            var listUrl="{{ list_url }}";
            var $conteudo=$("#conteudo");
            return function(){

                $.getJSON(listUrl,function(resposta){
                    listUrl=resposta.nextPageUrl;
                    var tmpl={% raw %}'{{#cidades}}<tr><td>{{ nome }}</td><td>{{ id }}</td></tr>{{/cidades}}';{% endraw %}
                    var renderizar=Mustache.render(tmpl,resposta);
                    $conteudo.html(renderizar);
                });
            }
        };


        $(document).ready(function(){
            var carregarCidades=carregarCidadesConstrutor();
             carregarCidades();
            $("#next-page").click(carregarCidades);

        });

    </script>
{% endblock %}
{% block content %}
    <button id="next-page" class="btn" >Próxima Página</button>
<table id="conteudo">
    <thead>
    <h3>Cidades do Estado {{ estado.nome }}</h3>
    <tr>
        <th>Nome</th>
        <th>Id</th>

    </tr>
    </thead>

</table>
{% endblock %}