{% extends "/templates/base.html" %}
{% block navbar %}{{ create_navbar("FORM") }} {% endblock %}
{% block content %}
{% set estado=estado or None %}
<form action="{{ save_url }}" method="post" >
    <fieldset>
        <legend>Cadastro de Cidade</legend>

        Nome: <input type="text" name="nome" value="{{ estado.nome }}" /><br/>
        Estado: <select name="estado_id">
            {% for e in estados %}
                <option value="{{ e.key.id() }}">{{ e.nome }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <button>Salvar</button>
</form>
{% endblock %}