<!DOCTYPE html>
<html>
<head>
    <title>Projeto BDInt da Fatec</title>

    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% macro create_navbar(selected_tab="HOME") %}
<div class="navbar navbar-inverse">
<div class="navbar-inner">
    <div class="container">
        <a href="" class="brand">Postal</a>
        <ul class="nav">
            <li {% if selected_tab=="HOME" %}class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if selected_tab=="FORM" %}class="active" {% endif %} ><a href="/geo/estado/form">Formulário</a></li>
            <li {% if selected_tab=="TABLE" %}class="active" {% endif %} ><a href="/tabela">Tabela</a></li>
        </ul>
    </div>
 </div>
</div>
{%  endmacro %}
{% block navbar %}{{ create_navbar() }} {% endblock %}
{% block content %}{% endblock %}

{% include "/templates/footer.html" %}

</body>
</html>