<!DOCTYPE html>
<html>
<head>
    <title>Projeto BDInt da Fatec</title>

    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% macro create_navbar(selected_tab="HOME") %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a href="" class="brand">Postal</a>
                <ul class="nav">
                    <li {% if selected_tab=="HOME" %}class="active" {% endif %}><a href="/">Home</a></li>
                    <li {% if selected_tab=="FORM" %}class="active" {% endif %}><a
                            href="/geo/estado/form">Formulário</a></li>
                    <li {% if selected_tab=="TONW" %}class="active" {% endif %}><a href="/geo/cidade/form">Formulário de
                        Cidade</a></li>
                    <li {% if selected_tab=="TABLE" %}class="active" {% endif %}><a href="/tabela">Tabela</a></li>
                     <li {% if selected_tab=="UP" %}class="active" {% endif %}><a href="/up">Upload</a></li>
                </ul>
        <span class="pull-right" style="border: none;">
        {% if current_user %}
            <a href="/down"><img src="{{  current_user.avatar_img(30)}}" /></a>{{  current_user.nome}}
            <a class="btn btn-danger" href="{{  logout_url}}">Logout</a>
        {% else %}
            <a class="btn btn-primary" href="{{  login_url}}">Login</a>
        {% endif %}
        </span>
            </div>
        </div>
    </div>
{% endmacro %}
{% block navbar %}{{ create_navbar() }} {% endblock %}
{% block content %}{% endblock %}

{% include "/templates/footer.html" %}

</body>
</html>
