<!DOCTYPE html>
<html>
<head>
    <title>Projeto BDInt da Fatec</title>

    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>


    <script type="text/javascript" src="/static/js/meuscript.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
<div class="navbar-inner">
    <div class="container">
        <a href="" class="brand">Postal</a>
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li ><a href="/formulario">Formulário</a></li>
        </ul>
    </div>
 </div>
</div>

<div id="content" class="container">
 <div class="row">
    <div class="span6"><h2><button class="btn">Botão</button>
        <input type="submit" class="btn btn-primary" />
        <a href="#" class="btn btn-block btn-danger"><i class="icon-thumbs-up icon-white"></i>Link</a></h2></div>
     <div class="span6"><a href="#" class="btn btn-success btn-mini"><i class="icon-thumbs-up icon-white"></i></a></div>
 </div>

    <div class="row">
        <div class="span6"><input id="in" type="text" />
            <button id="enviar" class="btn-success">Enviar Msg</button>
            <img  id="loader" src="/static/img/blueloader.gif" />
        </div>
        <div class="span6"><div id="msg"></div></div>

    </div>
    <div class="row">
        <div class="span6 offset3">
            <div class="row">
                <div class="span3"><h3>e</h3></div>
                <div class="span3"><h3>d</h3></div>
            </div>
        </div>
    </div>
</div>
<h1 id="fluido">Layout Fluido</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6"><h3>Fluido a esquerda</h3></div>
        <div class="span6"><h3>Fluido a direita</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="row-fluid">
                <div class="span6"><h3>Fluido a esquerda</h3></div>
                <div class="span6"><h3>Fluido a direita</h3></div>
            </div>
        </div>

    </div>

</div>
<div id="footer" class="border">Rodapé

</div>
</body>
</html>